BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Linux
ColumnLimit: 120
PenaltyBreakFirstLessLess: 1000
SpacesBeforeTrailingComments: 2
