BasedOnStyle: WebKit
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Linux
PointerAlignment: Left
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
SortIncludes: true
BreakBeforeTernaryOperators: true
AlignAfterOpenBracket: Align
PenaltyBreakFirstLessLess: 1000
