build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
jiag1.md
jiag2.md


*.obj
*.exe
*.o
*.a
*.lib
*.dll
*.so
*.out
*.d

.vscode/
.cache/
.idea/
*.suo
*.sln